

#section_two {
	width:100%;
	margin-top: -79px;
	padding-bottom: 77px;
	background: $offwhiteone;
}


.sec_two_inner {
	max-width:1920px;
	margin:0 auto;
}

.sec_two_slider_wrapper {
	
}

.sec_two_slider {
	display: flex;
}

.sec_two_slide {
	//border:1px solid red;
	flex-basis: 25%;
	position: relative;
	svg {
		position: absolute;
	}
	.sec_two_slide_inner {
		margin:173px 0 0 0;
		position: relative;
		z-index:1;
		span {
			display: block;
		}
		span.sec_two_slide_title {
			text-transform: uppercase;
			font-size: 50px;
			letter-spacing: 0.06em;
			padding-left:20px;
			@include deluxe_heavy;
			&:after {
				content:"";
				display: block;
				width:324px;
				height:18px;
				margin-top:-16px;
				margin-left:-20px;
				background: $yellow;
			}
		}
		span.sec_two_description {
			font-size: 18px;
			line-height: 28px;
			margin-top:35px;
			@include nunito_extrabold;
		}
	}
}


.sec_two_slide.one {
	svg#cactus {
		width:173px;
		height:173px;
		top: 117px;
		left:39px;
	}
	.sec_two_slide_inner {
		margin-left:140px;
		span.sec_two_description {
			max-width:305px;
		}
	}
}


.sec_two_slide.two {
	svg#tower {
		width:60px;
		height:257px;
		top:85px;
		left:70px;
	}
	.sec_two_slide_inner {
		margin-left:103px;
		span.sec_two_description {
			max-width:305px;
		}
	}
}


.sec_two_slide.three {
	svg#bull {
		width:198px;
		height:170px;
		top:106px;
		left:0;
	}
	.sec_two_slide_inner {
		margin-left:103px;
		span.sec_two_description {
			max-width: 336px;
		}
	}
}


.sec_two_slide.four {
	svg#horseshoe {
		width:142px;
		height:142px;
		top:118px;
		left:14px;
	}
	.sec_two_slide_inner {
		margin-left:92px;
		span.sec_two_description {
			max-width: 305px;
		}
	}
}


.sec_two_progress_wrapper {
	display: none;
}


@media screen and (max-width: 1760px) {
	
	

.sec_two_slide {
	.sec_two_slide_inner {
		span.sec_two_slide_title {
			&:after {
				width:295px;
			}
		}
	}
} 
	
.sec_two_slide.one {
	svg#cactus {
		width:140px;
		height:138px;
	}
	.sec_two_slide_inner {
		margin-left: 90px;
		span.sec_two_description {
			
		}
	}
}


.sec_two_slide.two {
	svg#tower {
		width: 50px;
		height:214px;
		left: 40px;
	}
	.sec_two_slide_inner {
		margin-left: 60px;
		span.sec_two_description {
			
		}
	}
}


.sec_two_slide.three {
	svg#bull {
		width: 164px;
		height:141px;
	}
	.sec_two_slide_inner {
		margin-left: 72px;
		span.sec_two_description {
			
		}
	}
}


.sec_two_slide.four {
	svg#horseshoe {
		width: 116px;
		height:116px;
	}
	.sec_two_slide_inner {
		margin-left: 56px;
		span.sec_two_description {
			
		}
	}
}
	
	
} /* Media Query */


@media screen and (max-width: 1550px) {
	
	#section_two {
		margin-top: -69px;
		padding-bottom: 83px;
	}
	    
} /* Media Query */

@media screen and (max-width: 1530px) {
	
	
	#section_two {
		
	}
	
	.sec_two_slide {
		
	.sec_two_slide_inner {
		margin: 151px 0 0 0;
		span.sec_two_slide_title {
			font-size: 36px;
			margin-left:-10px;
			&:after {
				width:220px;
				height:13px;
				margin-top: -11px;
				margin-left:-10px;
			}
		}
		span.sec_two_description {
			font-size: 15px;
			line-height: 23px;
			margin-top: 34px;
		}
	}
} 
	
.sec_two_slide.one {
	svg#cactus {
		top: 83px;
		left: 12px;
		width: 131px;
		height:129px;
	}
	.sec_two_slide_inner {
		margin-left: 43px;
		span.sec_two_description {
			max-width: 227px;
		}
	}
}


.sec_two_slide.two {
	svg#tower {
		top: 55px;
    height: 206px;
    width: 48px;
    left: 18px;
	}
	.sec_two_slide_inner {
		margin-left: 44px;
		span.sec_two_description {
			max-width: 218px;
		}
	}
}


.sec_two_slide.three {
	svg#bull {
		top: 73px;
		width:151px;
		height:130px;
		left: -30px;
	}
	.sec_two_slide_inner {
		margin-left: 41px;
		span.sec_two_description {
			max-width: 216px;
		}
	}
}


.sec_two_slide.four {
	svg#horseshoe {
		width:107px;
		height:107px;
		top: 88px;
    left: 0px;
	}
	.sec_two_slide_inner {
		margin-left: 46px;
		span.sec_two_description {
			max-width: 215px;
		}
	}
}

	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	
	#section_two {
		margin-top: -47px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1320px) {
	
	
	#section_two {
		margin-top: -40px;
		//padding-bottom:0;
	}
	
	.sec_two_inner {
		padding-bottom:29px;
	}
	
	.sec_two_slide.one {
		svg#cactus {
			left: 17px;
		}
	 }
	 
	 
	 
	
	
	
} /* Media Query */


@media screen and (max-width: 1160px) {
	
	#section_two {
		padding-bottom: 23px;
	}
	
	.sec_two_slide {
		svg {
			width:131px;
			height:129px;
			top: 49px; // slick is resetting after loop.....
		}
		.sec_two_slide_inner {
			margin: 117px 0 0 0;
			span.sec_two_slide_title {
				font-size: 30px;
			}
			span.sec_two_description {
				font-size: 14px;
				line-height: 23px;
			}
		}
	} 
	
	
	.sec_two_slide.one {
		svg#cactus {
			top: 49px;
		}
	}
	
	.sec_two_slide.two {
		svg#tower {
			top: 23px;
		}
	}
	
	
	.sec_two_slide.three {
		svg#bull {
			top: 42px;
			left: -25px;
			width: 138px;
			height: 118px;
		}
	}
	
	
	.sec_two_slide.four {
		svg#horseshoe {
			top: 54px;
			left: 0px;
			width: 100px;
			height: auto;
		}
	}
	
	
	
	
} /* Media Query */

@media screen and (max-width: 1100px) {
	
	
	#section_two {
		padding-bottom: 0;
	}
	
	.sec_two_slider {
		display: block;
		max-width: 765px;
    margin-left:auto;
		margin-right:auto;
	}
	
	.sec_two_slide.three {
		svg#bull {
			top: 42px;
			left: 0px;
			width: 138px;
			height: 118px;
		}
	}
	
	
	.sec_two_progress_wrapper {
		 display: block;
		 width:100%;
		 height:70px;
		 border-top:2px solid #d6d6d7;
	 }
	 
	 
	.sec_two_progress_inner {
	 	width:532px;
	 	display: flex;
	 	align-items: center;
	}


.sec_two_progress {
  display: block;
  width: 100%;
  height: 4px;
  margin:0 15px;
  overflow: hidden;
  background-color: #d9dbdb;
  background-image: linear-gradient(to right, $yellow, $yellow);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size .4s ease-in-out;
}


.sec_two_progress_bar {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.sec_two_arrow_wrapper {
	display: flex;
}




.sec_two_arrow {
	cursor: pointer;
	svg {
		position: relative;
		top:2px;
		width:11px;
		height:auto;
		path {
			fill: $yellow;
		}
	}
}


.sec_two_left_arrow {
	margin-right:15px;
}

.sec_two_right_arrow {
	margin-left:15px;
}

.sec_two_slide_number {
	font-size: 17px;
	line-height: 17px;
	letter-spacing: 0.06em;
	color:#c6c7c7;
	@include deluxe_extrabold;
}

	
	
} /* Media Query */


@media screen and (max-width: 830px) {
	
	
	
	.sec_two_slider {
    max-width: 670px;
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 740px) {
	
	
	#section_two {
    margin-top: 0;
	}

	
	.sec_two_slider {
		max-width: 400px;
	}
	
	
	.sec_two_slide {
		svg {
			
		}
		.sec_two_slide_inner {
			margin: 74px 0 0 0;
			span.sec_two_slide_title {
				font-size: 34px;
				&:after {
					width:270px;
				}
			}
			span.sec_two_description {
				margin-top: 13px;
			}
		}
	} 
	
	
	.sec_two_slide.one {
		svg#cactus {
    	top: 33px;
		}
		.sec_two_slide_inner {
			margin-left: 71px;
			span.sec_two_description {
				max-width: 251px;
			}
		}
	}
	
	
	.sec_two_slide.two {
		svg#tower {
    	left: 45px;
		}
		.sec_two_slide_inner {
			margin-left: 71px;
			span.sec_two_description {
				max-width: 251px;
			}
		}
	}
	
	
	.sec_two_slide.three {
		svg#bull {
			top: 27px;
    	left: 0px;
		}
		.sec_two_slide_inner {
			margin-left: 71px;
			span.sec_two_description {
				max-width: 261px;
			}
		}
	}
	
	
	.sec_two_slide.four {
		svg#horseshoe {
			top: 32px;
    	left: 20px;
		}
		.sec_two_slide_inner {
			margin-left: 71px;
			span.sec_two_description {
				max-width: 261px;
			}
		}
	}
	
	.sec_two_inner {
		padding-bottom: 51px;
	}
	    
	.sec_two_progress_wrapper {
  	height: 73px;
  }
	
	
} /* Media Query */


