

#section_seven {
	padding: 123px 0 150px;
	position: relative;
	border-top:1px solid grey;
}

span.sec_seven_title {
	display: block;
	text-align: center;
	max-width: 960px;
	margin:0 auto;
	font-size: 90px;
	color:$black;
	line-height: 92px;
	text-transform: uppercase;
	@include deluxe_extrabold;
}

.sec_seven_inner {
	margin: 160px auto 0;
	display: flex;
}

.sec_seven_left {
	max-width: 1195px;
	padding-left:19.5%;
	padding-right:200px;
	
}

.sec_seven_left.content {
	 a {
		
		color:$black;
		text-decoration: none;
		border-bottom:2px solid $yellow;
		transition: all 200ms ease-in-out;
		@include nunito_extrabold;
		&:hover {
			color:$yellow;
		}
	}
}

.sec_seven_right {
	flex-grow:1;
	flex-shrink:0;
	margin-left: -30px;
}

.sec_seven_box {
	width:100%;
	margin-top: 115px;
	background: $offwhiteone;
}

.sec_seven_box_inner {
	width:600px;
	padding: 85px 0 110px 110px;
}

span.sec_seven_quote {
	font-size: 72px;
	line-height: 80px;
	display: block;
	text-transform: uppercase;
	@include deluxe_extrabold;
	span {
		display: inline-block;
		position: relative;
		z-index:1;
		&:after {
			content:"";
			height:17px;
			width:calc(100% + 20px);
			display: block;
			margin-left:-10px;
			background: $yellow;
			position: absolute;
			top:57px;
			z-index:-1;
		}
	}
}


@media screen and (max-width: 1850px) {
	
	
	
	.sec_seven_box_inner {
		width: 720px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1720px) {
	
	
	.sec_seven_box_inner {
		width: 770px;
	}
	
	.sec_seven_left {
    padding-left: 6.5%;
  }
	
	
} /* Media Query */

@media screen and (max-width: 1550px) {
	
	.sec_seven_left {
    padding-right: 111px;
  }
	
} /* Media Query */


@media screen and (max-width: 1515px) {
	
	.sec_seven_box {
    margin-top: 175px;
  }
	
	.sec_seven_left {
		padding-left:90px;
		padding-right: 150px;
	}
	
	.sec_seven_box_inner {
    width: 600px;
	}
	
	span.sec_seven_quote {
		font-size: 50px;
		line-height: 65px;
		width: 350px;
		span {
			display: inline-block;
			&:after {
				height:13px;
				top:45px;
				width: calc(100% + 22px);
				margin-left: -11px;
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	#section_seven {
		padding: 107px 0 135px;
	}
	
	span.sec_seven_title {
		font-size: 90px;
		line-height: 86px;
    max-width: 735px;
	}
	
	.sec_seven_inner {
		margin: 107px auto 0;
	}
	
	.sec_seven_box {
		margin-top: 122px;
	}
	
	.sec_seven_box_inner {
		
		padding: 71px 0 72px 56px;
		width:482px;
	}
	
	
	.sec_seven_left {
		padding-left: 103px;
		padding-right: 103px;
	}
	
	span.sec_seven_quote {
		width:100%;
	}
	    
	
	
} /* Media Query */


@media screen and (max-width: 1150px) {
	
	
	#section_seven {
		padding: 107px 105px 85px;
	}
	
	span.sec_seven_title {
		font-size: 60px;
		line-height: 56px;
		max-width: 641px;
	}
	
	.sec_seven_inner {
		display: block;
		padding-left:0px;
		padding-right:0px;
		margin: 80px auto 0;
	}
	
	.sec_seven_right {
		display:none;
	}
	
	
	.sec_seven_left {
		padding-left:0px;
		padding-right:0px;
		max-width:800px;
		margin-left:auto;
		margin-right:auto;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	.sec_seven_inner {
	
	}
	
} /* Media Query */

@media screen and (max-width: 767px) {
	
	#section_seven {
		padding: 59px 30px 70px;
	}
	
	span.sec_seven_title {
		font-size: 43px;
		line-height: 42px;
		max-width: 485px;
	}
	
	.sec_seven_inner {
		margin: 35px auto 0;
	}
	
	
	
	
	
	
	
	
	
} /* Media Query */