

#section_eight {
	width:100%;
	height:892px;
	position: relative;
}


img.sec_eight_hero {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	object-fit:cover;
}


.sec_eight_inner {
	position: relative;
	z-index:1;
	max-width: 1920px;
	display: flex;
}

.sec_eight_left {
	padding-top:111px;
	padding-left:140px;
	flex-basis:570px;
	flex-shrink:0;
	span.cr_title {
		color:#fff;
		text-transform: uppercase;
		font-size:122px;
		line-height: 119px;
		display: block;
		max-width: 430px;
		@include deluxe_extrabold;
		span {
			display: inline-block;
			padding: 0 10px;
			background: url(#{$themePath}images/linebg-lite.svg) repeat-x;
			background-position: 0 92px;
			background-size: 1px 22px;
		}
	}
	a.view_all_results {
		color:$yellow;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 24px;
		letter-spacing: 0.1em;
		display: inline-block;
		border:3px solid $yellow;
		border-radius: 45px;
		margin-top:72px;
		padding:20px 45px;
		transition: all 200ms ease-in-out;
		@include deluxe_extrabold;
		&:hover {
			background: $yellow;
			color:$black;
		}
	}
}

.sec_eight_right {
	flex-grow:1;
	display: flex;
}


.sec_eight_slider {
	flex-grow:1;
	
}

.sec_eight_slide {
	text-align: center;
	padding:115px 0 0 0;
	span {
		display: block;
	}
	span.sec_eight_title {
		color:$yellow;
		text-transform: uppercase;
		font-size: 180px;
		@include deluxe_reg;
	}
	span.sec_eight_subtitle {
		color:#fff;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 0.08em;
		margin-top:18px;
		@include nunito_extrabold;
	}
	img {
		width: 100%;
		width:842px;
		height:auto;
		display: block;
		margin-top:-10px;
		margin-left:-25px;
	}
}

.sec_eight_results_list {
	
}


// vertical magic line https://codepen.io/a2best/pen/OxvNmX


$width: 250px;
$height: 114px;
$amount: 5;


.sec_eight_results_list {
  flex-basis:535px;
	flex-shrink:0;
	height:892px;
	border-left:2px solid #717379;
  ul {
		margin-top:100px;
		position: relative;
		li {
	  	height: $height;
	  	border-bottom:1px solid pink;
			display: block;
			a {
				text-decoration: none;
				span {
					display: block;
				}
				span.result_list_amount {
					color:$yellow;
					font-size: 50px;
					@include deluxe_reg;
				}
				span.result_list_description {
					color:#fff;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: 0.1em;
					margin-top:11px;
					@include nunito_extrabold;
				}
			}
		}
	}
	.one.current ~ #line,
	.one:hover ~ #line {
  	margin-top: 0px;
	}
	.two.current ~ #line,
	.two:hover ~ #line {
  	margin-top: $height;
	}
	.three.current ~ #line,
	.three:hover ~ #line {
  	margin-top: (($amount)-3)*$height;
	}
	.four.current ~ #line,
	.four:hover ~ #line {
  	margin-top: (($amount)-2)*$height;
	}
	.five.current ~ #line,
	.five:hover ~ #line {
  	margin-top: (($amount)-1)*$height;
	}
}


#line {
  position: absolute;
  left:0;
 //display: none;
  height: $height;
  width: .3rem;
  background: tomato;
  border: none;
  transform: translate(0, $amount*$height*-1);
  transition: .3s ease-in-out;
}
