

#section_eight {
	width:100%;
	height:892px;
	position: relative;
}


img.sec_eight_hero {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	object-fit:cover;
}


.sec_eight_inner {
	position: relative;
	z-index:1;
	max-width: 1920px;
	display: flex;
}

.sec_eight_left {
	padding-top:111px;
	padding-left:140px;
	flex-basis:570px;
	flex-shrink:0;
	span.cr_title {
		color:#fff;
		text-transform: uppercase;
		font-size:122px;
		line-height: 119px;
		display: block;
		max-width: 430px;
		@include deluxe_extrabold;
		span {
			display: inline-block;
			position: relative;
			z-index:1;
			&:after {
				content:"";
				height:22px;
				width:calc(100% + 32px);
				display: block;
				margin-left:-16px;
				background: $yellow;
				position: absolute;
				top:90px;
				z-index:-1;
			}
		}
	}
	a.view_all_results {
		color:$yellow;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 24px;
		letter-spacing: 0.1em;
		display: inline-block;
		border:3px solid $yellow;
		border-radius: 45px;
		margin-top:72px;
		padding:20px 45px;
		transition: all 200ms ease-in-out;
		@include deluxe_extrabold;
		&:hover {
			background: $yellow;
			color:$black;
		}
	}
}

.sec_eight_right {
	flex-grow:1;
	display: flex;
}


.sec_eight_slider {
	flex-grow:1;
	position: relative;
}

.sec_eight_slide {
	text-align: center;
	padding:115px 0 0 0;
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 300ms linear, visibility 300ms linear;
	span {
		display: block;
	}
	span.sec_eight_title {
		color:$yellow;
		text-transform: uppercase;
		font-size: 180px;
		opacity: 0;
		transform: translateY(-25px);
		transition:opacity 300ms linear, transform 800ms cubic-bezier(.17,.66,.34,.98);
		@include deluxe_reg;
	}
	span.sec_eight_subtitle {
		color:#fff;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 0.08em;
		margin-top:18px;
		opacity: 0;
		transform: translateY(-25px);
		transition:opacity 300ms linear, transform 800ms cubic-bezier(.17,.66,.34,.98);
		@include nunito_extrabold;
	}
	img {
		width: 100%;
		width:842px;
		height:auto;
		display: block;
		margin-top:-10px;
		margin-left:-25px;
		opacity: 0;
		transform: translateY(-25px);
		transition:opacity 500ms linear, transform 800ms cubic-bezier(.17,.66,.34,.98);
	}
}





.sec_eight_slide.fadein {
	opacity: 1;
	visibility: visible;
	transition-delay:500ms, 500ms;
	span.sec_eight_title {
		opacity: 1;
		transform: translateY(0px);
		transition-delay:600ms;
	}
	span.sec_eight_subtitle {
		opacity: 1;
		transform: translateY(0px);
		transition-delay:700ms;
	}
	img {
		opacity: 1;
		transform: translateY(0px);
		transition-delay:900ms;
	}
}


.sec_eight_slide.current {
	display: block;
}


a.view_all_results.mobile {
	display: none;
}


@media screen and (min-width: 1451px) {

// vertical magic line https://codepen.io/a2best/pen/OxvNmX

$width: 250px;
$height: 134px;
$offset: 20px;
$amount: 5;


.sec_eight_results_list {
  flex-basis:535px;
	flex-shrink:0;
	height:892px;
	border-left:2px solid #717379;
  ul {
		margin-top:140px;
		position: relative;
		padding-left:137px;
		li {
	  	height: $height;
			display: block;
			cursor: pointer;
			a {
				text-decoration: none;
				span {
					display: block;
				}
				span.result_list_amount {
					color:$yellow;
					font-size: 50px;
					@include deluxe_reg;
				}
				span.result_list_description {
					color:#fff;
					text-transform: uppercase;
					font-size: 14px;
					letter-spacing: 0.1em;
					margin-top:11px;
					@include nunito_extrabold;
				}
			}
		}
		.one.current ~ #line,
.one:hover ~ #line {
	margin-top: $offset;
}

.two.current ~ #line,
.two:hover ~ #line {
	margin-top: $height + $offset;
}

.three.current ~ #line,
.three:hover ~ #line {
	margin-top: (($amount)-3)*$height+$offset;
}

.four.current ~ #line,
.four:hover ~ #line {
	margin-top: (($amount)-2)*$height+$offset;
}

.five.current ~ #line,
.five:hover ~ #line {
	margin-top: (($amount)-1)*$height+$offset;
}
	}
}

#line {
  position: absolute;
  left:0;
  margin-top:$offset;
 //display: none;
  height: 10px;
  width: 79px;
  background: $yellow;;
  border: none;
  transform: translate(0, $amount*$height*-1);
  transition: .3s ease-in-out;
}

} /* Media Query */


@media screen and (max-width: 1890px) {
	
	
	
	.sec_eight_slide img {
    max-width: 100%;
    margin-top: 70px;
  }
	
	
	
} /* Media Query */


@media screen and (max-width: 1825px) {
	
	
	
	.sec_eight_slide img {
    max-width: 100%;
    margin-top: 90px;
  }
	
	
	
} /* Media Query */

@media screen and (max-width: 1790px) {
	
	#section_eight {
		height: 782px;
	}
	
	.sec_eight_slide {
		span.sec_eight_title {
			font-size: 130px;
		}
	} 
	
	
	.sec_eight_results_list {
		height: 782px;
		ul {
			margin-top: 80px;
		}
	}
	
	.sec_eight_left {
		padding-left:70px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1685px) {
	
	
	.sec_eight_slide {
		img {
			width:650px;
			max-width: 100%;
		}
	}
	
	
	.sec_eight_results_list {
    flex-basis: 455px;
   }
   
   .sec_eight_left {
	 	flex-basis: 500px;
   }
	
	
} /* Media Query */


@media screen and (max-width: 1525px) {
	
	
	
	#section_eight {
		height:756px;
	}
	
	.sec_eight_results_list {
		height:756px;
		flex-basis: 365px;
		ul {
			padding-left: 57px;
		}
	}
	
	#line {
		width:38px;
	}
	
	.sec_eight_right {
		position: absolute;
		top:0;
		right:0;
		width:945px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1450px) {
	
	
	.sec_eight_left {
		span.cr_title {
			font-size: 94px;
			line-height: 90px;
			span {
				&:after {
					height:16px;
					top: 70px;
				}
			}
		}
	}
	
	
$width: 250px;
$height: 124px;
$offset: 15px;
$amount: 5;


.sec_eight_results_list {
  flex-basis:343px;
	flex-shrink:0;
	height:756px;
	border-left:2px solid #717379;
  ul {
		margin-top: 100px;
		position: relative;
		padding-left: 57px;
		li {
	  	height: $height;
			display: block;
			cursor: pointer;
			a {
				text-decoration: none;
				span {
					display: block;
				}
				span.result_list_amount {
					color:$yellow;
					font-size: 36px;
					@include deluxe_reg;
				}
				span.result_list_description {
					color:#fff;
					text-transform: uppercase;
					font-size: 13px;
					letter-spacing: 0.08em;
					margin-top:11px;
					@include nunito_extrabold;
				}
			}
		}
		.one.current ~ #line,
.one:hover ~ #line {
	margin-top: $offset;
}

.two.current ~ #line,
.two:hover ~ #line {
	margin-top: $height + $offset;
}

.three.current ~ #line,
.three:hover ~ #line {
	margin-top: (($amount)-3)*$height+$offset;
}

.four.current ~ #line,
.four:hover ~ #line {
	margin-top: (($amount)-2)*$height+$offset;
}

.five.current ~ #line,
.five:hover ~ #line {
	margin-top: (($amount)-1)*$height+$offset;
}
	}
}

#line {
  position: absolute;
  left:0;
  margin-top:$offset;
 //display: none;
  height: 10px;
  width: 38px;
  background: $yellow;;
  border: none;
  transform: translate(0, $amount*$height*-1);
  transition: .3s ease-in-out;
}

	.sec_eight_slide {
		padding: 97px 0 0 0;
		span.sec_eight_subtitle {
			font-size: 16px;
			margin-top: 15px;
		}
	}
	
	.sec_eight_slide_inner {
		position: relative;
    right: -80px;
	}
	
	.sec_eight_left {
    padding-top: 80px;
    position: relative;
    z-index:2;
    span.cr_title {
	    span {
		    &:after {
			   	top: 65px;
		    }
	    }
    }
   }
	
	
	.sec_eight_right {
		width: 1075px;
		img {
			width: 715px;
			margin-top: 31px;
		}
	}
	
	
	
	.sec_eight_left {
		a.view_all_results {
			font-size: 18px;
			margin-top: 65px;
			padding: 14px 40px;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	.sec_eight_slide_inner {
    right: -130px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1160px) {
	
	
	#section_eight {
		background:#1f222a;
		height:716px;
		text-align: center;
	}
	
	img.sec_eight_hero {
		display: none;
	}
	
	
	.sec_eight_slider {
		display: none;
	}
	
	.sec_eight_inner {
		display: block;
	}
	
	.sec_eight_left {
		flex-basis:auto;
		padding-left:0;
		span.cr_title {
			max-width:100%;
			font-size: 80px;
			line-height: 90px;
			text-align: center;
			span {
				&:after {
					top: 61px;
				}
			}
		}
		a.view_all_results {
			display: none;
		}
	}
	
	.sec_eight_right {
		position: static;
		display: block;
		width:100%;
	}
	
	#line {
		display: none;
	}
	
	
	.sec_eight_results_list {
		flex-basis:auto;
		height:auto;
		margin:0 auto;
		border-left: none;
		max-width: 660px;
		ul {
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			padding:0;
			margin-top: 85px;
			li {
				flex-basis:47%;
				cursor: default;
				height:auto;
				text-align: center;
				margin-bottom: 65px;
				&:nth-of-type(5) {
					display: none;
				}
				a {
					span.result_list_amount {
						font-size: 50px;
					}
					span.result_list_description {
						margin-top: 14px;
					}
				}
			}
		}
	}
	
	a.view_all_results.mobile {
		display: inline-block;
		color:$yellow;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 18px;
		letter-spacing: 0.1em;
		display: inline-block;
		border:3px solid $yellow;
		border-radius: 45px;
		margin:34px auto 0;
		width:230px;
		text-align: center;
		padding: 15px 0px;
		transition: all 200ms ease-in-out;
		@include deluxe_extrabold;
		&:hover {
			background: $yellow;
			color:$black;
		}
	}
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	#section_eight {
		height: auto;
		padding-bottom: 97px;
	}
	
	.sec_eight_left {
		padding-top: 73px;
		span.cr_title {
			font-size: 60px;
			line-height: 70px;
			span {
				&:after {
					top:51px;
				}
			}
		}
	}
	
	.sec_eight_results_list {
		ul {
			display: block;
			margin-top: 67px;
			li {
				margin-bottom: 39px;
				&:nth-of-type(4) {
					display: none;
				}
				a {
					span.result_list_amount {
						
					}
				}
			}
		}
	}
	
	a.view_all_results.mobile {
		margin: 17px auto 0;
	}
	
	
} /* Media Query */
