

#section_four {
	width:100%;
	background: $offwhiteone;
	text-align: center;
}


.sec_four_inner {
	max-width: 870px;
	margin:0 auto;
	padding:108px 0 95px;
	span {
		display: block;
		text-transform: uppercase;
	}
	span.sec_four_subheader {
		color:$yellow;
		font-size: 24px;
		letter-spacing: 0.06em;
		margin-bottom:45px;
		@include deluxe_heavy;
	}
	span.sec_four_largeheader {
		font-size: 82px;
		line-height: 91px;
		display: block;
		@include deluxe_extrabold;
		span {
			display: inline-block;
			position: relative;
			z-index:1;
			&:after {
				content:"";
				height:17px;
				width:calc(100% + 40px);
				display: block;
				margin-left:-20px;
				background: $yellow;
				position: absolute;
				top:65px;
				z-index:-1;
			}
		}
	} 
	a.meet_button {
		text-transform: uppercase;
		color:$black;
		font-size: 24px;
		letter-spacing: 0.1em;
		text-decoration: none;
		border:3px solid $yellow;
		border-radius: 45px;
		display: inline-block;
		margin-top:42px;
		padding:19px 44px;
		transition: all 200ms ease-in-out;
		background: transparent;
		@include deluxe_extrabold;
		&:hover {
			background: $yellow;
		}
	}
}


@media screen and (max-width: 1450px) {
	
	
	.sec_four_inner {
		padding: 98px 0 95px;
		span.sec_four_subheader {
			font-size: 20px;
			margin-bottom: 32px;
		}
		span.sec_four_largeheader {
			font-size: 70px;
			line-height: 80px;
			span {
				&:after {
					height:13px;
					top: 58px;
				}
			}
		}
		a.meet_button {
			font-size: 18px;
			letter-spacing: 0.1em;
			padding: 15px 44px;
			margin-top: 35px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1150px) {
	
	
	
	.sec_four_inner {
		padding: 90px 0;
		span.sec_four_subheader {
			margin-bottom: 29px;
		}
		span.sec_four_largeheader {
			font-size: 50px;
			line-height: 66px;
			span {
				&:after {
					top: 41px;
				}
			}
		}
		a.meet_button {
			margin-top: 30px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.sec_four_inner {
		a.meet_button {
			padding: 15px 34px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	.sec_four_inner {
		padding: 55px 0;
		max-width:360px;
		span.sec_four_subheader {
			margin-bottom: 27px;
		}
		span.sec_four_largeheader {
			font-size: 42px;
			line-height: 52px;
			span {
				&:after {
					top: 36px;
				}
			}
		}
		a.meet_button {
			margin-top: 25px;
		}
	}

	
	
	
} /* Media Query */