
#section_six {
	position: relative;
	width:100%;
	height:969px;
}


img.sec_six_bg {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	object-cover:fit;
}

.sec_six_inner {
	position: relative;
	z-index:1;
	max-width: 1720px;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	justify-content: space-between;
}

.sec_six_left {
	padding:137px 0 0 45px;
	flex-basis:540px;
	flex-shrink:0;
	span.sec_six_title {
		display: block;
		color:#fff;
		max-width: 495px;
		font-size: 101px;
		line-height: 88px;
		text-transform: uppercase;
		@include deluxe_extrabold;
	}
}


a.reviews_button {
	color:$yellow;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: 24px;
	letter-spacing: 0.1em;
	border:3px solid $yellow;
	border-radius: 45px;
	padding:19px 45px;
	margin-top:30px;
	transition: all 200ms ease-in-out;
	@include deluxe_extrabold;
	&:hover {
		background: $yellow;
		color:$black;
	}
}

.sec_six_right {
	flex-grow:1;
	padding-left:80px;
	background: pink;
}


.sec_six_slider {
	
}


.sec_six_slide {
	width:521px;
	height:1000px;
	background: $yellow;
	position: relative;
}

.star_box {
	width:74px;
	height:89px;
	background: $black;
	padding-top:1px;
	margin-left:40px;
	img {
		width:39px;
		height:39px;
		display: block;
		margin:26px auto 0;
	}
}


span.sec_six_slide_title {
	display: block;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 40px;
	margin:45px 0 0 75px;
	@include deluxe_extrabold;
}

.black_bar {
	margin-top:23px;
	width:150px;
	height:14px;
	background: $black;
}

.sec_six_description {
	font-size: 19px;
	line-height: 32px;
	display: block;
	max-width:360px;
	margin:27px 0 0 75px;
	@include nunito_reg;
}