

#section_one {
	width:100%;
	
	position: relative;
	
}


.sec_one_inner {
	overflow: hidden;
	height:778px;
	padding:0 69px 0 85px;
	position: relative;
}


img.hero_img {
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	object-fit:cover;
}

.sec_one_content {
	position: relative;
	z-index:2;
	max-width: 1645px;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}



.sec_one_left {
	padding:224px 0 0;
	margin-left:26px;
	> span {
			display: block;
			color:#fff;
			text-transform: uppercase;
			@include deluxe_extrabold;
	}
	span.sec_one_subheader {
		font-size: 22px;
		letter-spacing: 0.1em;
		margin-bottom:15px;
		
	}
	span.sec_one_largeheader {
		font-size: 113px;
		line-height: 106px;
		max-width: 590px;
		span {
			color:$yellow;
		}
	}
	a.consult_button {
		color:#fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 22px;
		letter-spacing: 0.1em;
		border:3px solid $yellow;
		display: inline-block;
		border-radius: 45px;
		margin-top:28px;
		padding:17px 45px;
		background: transparent;
		transition: all 200ms ease-in-out;
		@include deluxe_extrabold;
		&:hover {
			background: $yellow;
		}
	}
}

.sec_one_right {
	width:929px;
	//margin-right:23px;
}


.atts_wrapper {
	position: relative;
	height:778px;
}

.attorneys {
	display: flex;
	margin-left:28px;
	width:800px;
}


picture.att_one {
	img {
		display: block;
		padding-top:170px;
		margin-right:-60px;
	}
}

picture.att_two {
	img {
		display: block;
		padding-top:170px;
	}
}


.attorney_names {
	position: absolute;
	top:475px;
	left:0;
	width:100%;
}



.attorney_names_inner {
	display: flex;
	justify-content: space-between;
	a.attorney_name {
		color:$yellow;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 20px;
		letter-spacing: 0.1em;
		display: inline-block;
		background: rgba(0,0,0,0.52);
		border-radius: 45px;
		padding:10px 22px;
		@include deluxe_extrabold;
	}
}

.sec_one_badge_wrapper {
	display: flex;
	max-width: 1645px;
	margin:0 auto;
	justify-content: space-between;
	background: purple;
}


.sec_one_badge_spacer {
	margin-left:26px;
	width:590px;
	//background: green;
}


.attorney_badge {
	width:929px;
	z-index:2;
	margin-top:-283px;
	img {
		display: block;
		margin-left:auto;
		margin-right:auto;
		position: relative;
		z-index:1;
	}
}



@media screen and (max-width: 1700px) {
	
	
	.sec_one_left {
		span.sec_one_subheader {
			font-size: 18px;
		}
		span.sec_one_largeheader {
			font-size: 90px;
			line-height: 86px;
			max-width: 480px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1660px) {
	
	
	
	.sec_one_right {
    width: 859px;
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 1550px) {
	
	
	
	picture.att_one {
		img {
			 padding-top: 250px;
   		 width: 440px;
  	}
	} 
	
	picture.att_two {
		img {
			 padding-top: 235px;
   		 width: 330px;
  	}
	}
	
	
	.attorney_badge {
		margin-top: -251px;
		width: 789px;
		img {
			width: 332px;
		}
	}
	
	.sec_one_right {
		width: 789px;
	}
	
	
	.sec_one_badge_wrapper {
		padding:0 69px 0 85px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	.sec_one_inner {
		height:705px;
	}
	
	
	img.hero_img {
		height:705px;
		object-position: left top;
	}
	
	
	.atts_wrapper {
		height: 705px;
	}
	
	
	picture.att_one {
		img {
			 padding-top: 238px;
   		 width: 403px;
   		 margin-right: -89px;
  	}
	} 
	
	picture.att_two {
		img {
			 padding-top: 223px;
   		 width: 300px;
  	}
	}
	
	
	.sec_one_right {
		width: 657px;
	}
	
	
	.attorney_badge {
		width: 657px;
		margin-top: -190px;
		img {
			width:245px;
			position: relative;
			right:-15px;
		}
	}
	
	.attorney_names {
		top: 527px;
	}
	
	.attorney_names_inner {
		a.attorney_name {
			font-size: 14px;
			padding: 10px 17px;
		}
		a.attorney_name_one {
			margin-left:27px;
		}
	}
	
	
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1320px) {
	
	
	.sec_one_left {
		width:467px;
		margin-left:0;
	}
	
	.sec_one_right {
		position: absolute;
		top: 227px;
		left: 480px;
		height:auto;
	}
	
	
	picture.att_one {
		img {
			padding-top:0;
		}
	}
	
	
	picture.att_two {
		img {
			padding-top:0;
		}
	}
	
	.attorneys {
		width:100%;
	}
	
	
	.attorney_names {
		top: 297px;
		a.attorney_name_one {
			margin-left:20px;
		}
	}
	
	
	
	.sec_one_badge_wrapper {
		position: relative;
		background:green;
		height:40px;
	}
	
	.attorney_badge {
		position: absolute;
		top: -5px;
		left: 584px;
		img {
			right: 5px;
		}
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1260px) {
	
	.sec_one_left {
		a.consult_button {
			font-size: 18px;
			padding: 15px 38px;
			@include deluxe_heavy;
		}
	}
	
	.sec_one_right {
		left:430px;
	}
	
	.attorney_names_inner {
		a.attorney_name_two {
			margin-right:15px;
		}
	}	
	
	

	.attorney_badge {
		left: 515px;
		img {
			
		}
	}

	
	
	
} /* Media Query */



@media screen and (max-width: 1190px) {
	
	
	picture.att_one {
		img {
			
		}
	}
	
	
	picture.att_one {
		img {
			width: 333px;
			padding-top:27px;
			margin-right: -74px;
		}
	}
	
	
	picture.att_two {
		img {
			padding-top:15px;
			width: 258px;
		}
	}
	
	.sec_one_right {
		width: 570px;
	}
	
	.attorney_badge {
		width: 570px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1100px) {
	
	
	.sec_one_left {
		span.sec_one_largeheader {
			font-size: 60px;
			line-height: 56px;
			max-width: 320px;
			span {
				
			}
		}
	}
	
	.sec_one_right {
		left:auto;
		right:40px;
	}
	
	.attorney_badge {
		left:auto;
		right: 81px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	.sec_one_inner {
		height:520px;
	}
	
	
	.sec_one_right {
		top: 148px;
	}
	
	
	picture.att_one {
		img {
			width: 280px;
			padding-top:0;
		}
	}
	
	
} /* Media Query */

