@media screen and (min-width: 1199px) {
	
	
	.sec_one_left {
		span.sec_one_subheader {
			transform: translateY(-25px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		}
		span.sec_one_largeheader {
			transform: translateY(-20px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		}
		a.consult_button {
			transform: translateY(-20px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98), background 200ms ease-in-out, color 200ms ease-in-out;
		}
	}
	
	
	.attorney_badge {
		img {
			transform: translateY(-25px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98);	
		}
	}
	
	
	.attorney_names_inner {
		a.attorney_name_one {
			transform: translateX(-45px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98), background 200ms ease-in-out, color 200ms ease-in-out;	
		}
		a.attorney_name_two {
			transform: translateX(45px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98), background 200ms ease-in-out, color 200ms ease-in-out;		
		}
	}

	
	
	body.ready {
		.sec_one_left {
			span.sec_one_subheader {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:200ms;
			}
			span.sec_one_largeheader {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:550ms
			}
			a.consult_button {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:900ms, 900ms, 0ms, 0ms;
			}
		}
		.attorney_badge {
			img {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:700ms;
			}
		}
		.attorney_names_inner {
			a.attorney_name_one {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:700ms, 700ms, 0ms, 0ms;	
			}
			a.attorney_name_two {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:700ms, 700ms, 0ms, 0ms;
			}
		}
	}
	
	
	
	// internal page banner
	
	
	
	.internal_banner_left {
		.internal_banner_largeheader {
			transform: translateY(-20px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		}
		a.internal_banner_consult_button {
			transform: translateY(-20px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	.internal_banner_attorney_badge {
		img {
			transform: translateY(-25px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98);	
		}
	}
	
	
	.internal_banner_attorney_names_inner {
		a.internal_banner_attorney_name_one {
			transform: translateX(-45px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98), background 200ms ease-in-out, color 200ms ease-in-out;	
		}
		a.internal_banner_attorney_name_two {
			transform: translateX(45px);
			opacity: 0;
			transition: opacity 500ms linear, transform 1500ms cubic-bezier(.17,.66,.34,.98), background 200ms ease-in-out, color 200ms ease-in-out;		
		}
	}

	
	
	body.ready {
		.internal_banner_left {
			.internal_banner_largeheader {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:550ms
			}
			a.internal_banner_consult_button {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:900ms
			}
		}
		.internal_banner_attorney_badge {
			img {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:700ms;
			}
		}
		.internal_banner_attorney_names_inner {
			a.internal_banner_attorney_name_one {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:700ms, 700ms, 0ms, 0ms;	
			}
			a.internal_banner_attorney_name_two {
				transform: translateY(0px);
				opacity: 1;
				transition-delay:700ms, 700ms, 0ms, 0ms;
			}
		}
	}
	
		
	
	
} /* Media Query */