


footer {
	width:100%;
	background: $yellow;
	
}

.footer_inner {
	max-width: 1795px;
	margin:0 auto 136px;
	display: flex;
	padding:0 94px 0 101px;
	position: relative;
	justify-content: space-between;
}

.footer_left {
	flex-basis:770px;
	flex-shrink:0;
	margin-top:135px;
}

.footer_right {
	padding-right:25px;
}


span.footer_title {
	font-size: 110px;
	line-height: 101px;
	display:block;
	max-width:760px;
	text-transform: uppercase;
	position: absolute;
	top:135px;
	left:101px;
	color:#000;
	@include deluxe_extrabold;
	br {
		display: none;
	}
	span {
		color:#fff;
	}
}


.footer_locations {
	margin:370px 0 0 0;
	display: flex;
	justify-content: space-between;
	.single_location {
		position: relative;
		&:nth-of-type(2) {
			svg {
				width:53px;
				height:53px;
			}
		}
		&:nth-of-type(3) {
			svg {
				width:54px;
				height:54px;
			}
		}
		svg {
			position: absolute;
			top:0;
			left:0;
		}
		span {
			display: block;
		}
		span.office_title {
			text-transform: uppercase;
			font-size: 24px;
			margin-top:78px;
			color:#000;
			@include deluxe_extrabold;
			&:after {
				content:"";
				display: block;
				width:79px;
				height:10px;
				background: #000;
				margin:20px 0 0 0;
			}
		}
		span.address {
			font-size: 20px;
			line-height:30px;
			margin-top:25px;
			color:#000;
			@include nunito_reg;
		}
		a.footer_phone {
			color:#000;
			display: inline-block;
			text-decoration: none;
			font-size: 22px;
			margin-top:24px;
			@include nunito_extrabold;
		}
		a.map_button {
			width:105px;
			text-align: center;
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			border:3px solid #fff;
			border-radius: 45px;
			font-size: 24px;
			letter-spacing: 0.1em;
			color:#fff;
			margin-top:22px;
			padding:13px 0;
			transition: all 200ms ease-in-out;
			@include deluxe_extrabold;
			&:hover {
				border:3px solid #000;
				background: #000;
				color:$yellow;
			}
		}
		span.appointment {
			text-transform: uppercase;
			font-size: 18px;
			letter-spacing: 0.06em;
			margin-top:35px;
			color:#000;
			@include deluxe_extrabold;
		}
	}
}


.footer_right {
	max-width:605px;
	width:100%;
	margin-top:130px;
}

.form_wrapper {
	position: relative;
	span.required {
		display: block;
		text-transform: uppercase;
		text-align: right;
		font-size: 16px;
		color:#000;
		letter-spacing: 0.2em;
		@include nunito_extrabold;
	}
	.gform_wrapper {
		margin-top:33px;
	}
	ul {
		list-style: none;
		li {
			display: block;
			margin-bottom:20px;
			label {
				display: none;
			}
			input,textarea {
				width:100%;
				border:none;
				display: block;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				border:4px solid #fff;
				transition: all 200ms ease-in-out;
				padding:24px 33px;
				color:#000;
				@include nunito_extrabold;
				&:focus {
					border:4px solid #000;
				}
			}
			textarea {
				height:201px;
			}
		}
	}
	.gform_footer {
		display: flex;
		justify-content: flex-end;
	}
	input[type="submit"] {
		background: transparent;
		margin-top:10px;
		border:3px solid #000;
		font-size: 28px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		border-radius: 45px;
		padding:16px 50px;
		cursor: pointer;
		transition: all 200ms ease-in-out;
		@include deluxe_extrabold;
		&:hover {
			background: #000;
			color:$yellow;
		}
	}
	.gfield_description, .validation_message {
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color:#000;
		margin-top:8px;
		@include nunito_extrabold;
	}
}


.copyright {
	background: #fff;
	padding:0 68px 0 54px;
	.copyright_inner {
		max-width: 1742px;
		margin:0 auto;
		height:84px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		ul {
			list-style: none;
			display: flex;
			li {
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 0.06em;
				margin-right:7px;
				@include deluxe_extrabold;
				&:after {
					content:"i";
					margin-left:7px;
					@include deluxe_extrabold;
				}
				&:last-of-type {
					&:after {
						display: none;
					}
				}
				a {
					color:$black;
					text-decoration: none;
					transition: all 200ms ease-in-out;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		a.ilawyer {
			img {
				width:231px;
				height:20px;
			}
			
		}
	}
}

.mobile_locations {
	display: none;
}


@media screen and (max-width: 1700px) {
	
	
	.footer_locations {
		max-width: 730px;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1600px) {
	
	
	.form_wrapper {
		padding-left:50px;
	}
	
	
	.footer_inner {
		
	}
	
	.footer_right {
		padding-right:0;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1500px) {
	
	
	
	span.footer_title {
		font-size: 80px;
		line-height: 84px;
		max-width: 552px;
		top: 115px;
	}
	
	
	
	.footer_locations {
		margin: 200px 0 0 0;
		max-width: 585px;
		.single_location {
			span.office_title {
				font-size: 20px;
				margin-top: 66px;
				&:after {
					margin: 25px 0 0 0;
				}
			}
			span.address {
				font-size: 16px;
				line-height: 24px;
			}
			a.footer_phone {
				font-size:18px;
				margin-top: 19px;
			}
			a.map_button {
				font-size: 18px;
				padding: 9px 0;
				width:77px;
			}
			span.appointment {
				font-size: 14px;
				margin-top: 23px;
			}
			&:nth-of-type(1) {
				svg {
					width:48px;
					height:36px;
				}
			}
			&:nth-of-type(2) {
				svg {
					width:39px;
					height:auto
				}
			}
			&:nth-of-type(3) {
				svg {
					width:43px;
					height:auto
				}
			}
		}
	}
	
	.footer_left {
    flex-basis: 630px;
   }
	
	.footer_right {
		margin-top: 110px;
		max-width: 535px;
	}
	
	
	.form_wrapper {
		.gform_wrapper {
			margin-top: 17px;
		}
		span.required {
			font-size: 12px;
		}
		ul {
			li {
				margin-bottom:14px;
				input,textarea {
					padding: 17px 33px;
					font-size: 12px;
				}
				textarea {
					height:172px;
				}
			}
		}
		input[type="submit"] {
			font-size: 24px;
			padding: 12px 32px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1350px) {
	
	
	.footer_inner {
		margin: 0 auto 85px;
	}
	
	.footer_right {
		
	}
	
	.form_wrapper {
			padding-left: 24px;
		}
	
	
} /* Media Query */



@media screen and (max-width: 1150px) {
	
	.footer_inner {
		flex-direction: column;
		padding:47px 105px 0;
		//max-width: 783px;
		max-width: 945px;
    margin: 0 auto 60px;
	}
	
	span.footer_title {
		position: static;
	}
	
	.footer_left {
		order:2;
		margin-top: 91px;
		flex-basis: 100%;
	}
	
	.footer_locations {
		margin: 0 0 0 0;
		max-width: 100%;
		.single_location {
			span.office_title {
				margin-top: 61px;
			}
		}
	}

	
	.footer_right {
		order:1;
		max-width: 100%;
		margin-top: 18px;
	}
	
	.form_wrapper {
			padding-left:0;
			span.required {
				text-align: left;
			}
			.gform_wrapper {
				margin-top: 27px;
			}
			ul {
				li {
					input,textarea {
						padding: 17px 28px;
					}
				}
			}
			input[type="submit"] {
				padding: 10px 32px;
			}
		}
		
		
		.copyright {
			padding:0;
			.copyright_inner {
				display: block;
				text-align: center;
				height:auto;
				padding: 35px 30px;
				ul {
					display: block;
					margin-bottom:9px;
					li {
						display: inline-block;
					}
				}
			}
		}
		
		
		
		
			
} /* Media Query */




@media screen and (max-width: 767px) {
	
	.footer_inner {
		padding: 64px 30px 0;
		margin-bottom:49px;
	}
	
	span.footer_title {
		font-size: 51px;
		text-align: center;
		line-height: 53px;
		max-width: 352px;
		margin:0 auto;
	}

	
	.form_wrapper {
		span.required {
			text-align: center;
		}
		ul {
			li {
				input,textarea {
					padding: 17px 18px;
				}
			}
		}
		.gform_footer {
			justify-content: center;
		}
		input[type="submit"] {
			margin-top:14px;
		}
	} 
	
	
	.footer_left {
		margin-top: 69px;
	}
	
	.footer_right {
		max-width: 515px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.footer_locations {
		display: block;
		max-width:100%;
		.single_location {
			text-align: center;
			svg {
				position: static;
			}
			span.office_title {
				margin-top: 15px;
				font-size: 22px;
				&:after {
					margin: 24px auto 0;
				}
			}
			span.address {
				font-size: 18px;
				line-height: 30px;
				margin-top: 15px;
			}
			a.footer_phone {
				font-size: 20px;
				margin-top: 12px;
			}
			a.map_button {
				margin: 23px auto 0;
			}
			&:nth-of-type(1) {
				svg {
					width:58px;
					height:auto;
				}
			}
			&:nth-of-type(2), &:nth-of-type(3) {
				display: none;
			}
		}
	}
	
	a.mobile_locations {
		display: block;
		background: $black;
		width:100%;
		text-align: center;
		text-transform: uppercase;
		color:$yellow;
		text-decoration: none;
		font-size: 18px;
		letter-spacing: 0.1em;
		padding:18px 0;
		@include deluxe_extrabold;
	}
	
	
	.copyright {
		.copyright_inner {
			padding-bottom: 30px;
			ul {
				max-width:325px;
				margin-left:auto;
				margin-right:auto;
				li {
					display: inline;
					line-height: 19px;
				}
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 410px) {
	
	
	span.footer_title {
		br {
			display: inline-block;
		}
		span {
			display: inline;
			color:#000;
		}
	}
	
	
} /* Media Query */