
body {
	color:$black;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: #000; }
.gform_wrapper ul li ::-moz-placeholder {
  color: #000; }
 .gform_wrapper ul li :-moz-placeholder {
   color: #000; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: #000; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }



.content {
	font-size: 20px;
	line-height: 32px;
	@include nunito_reg;
	h2 {
		color:$yellowdark;
		text-transform: uppercase;
		font-size: 22px;
		line-height: 30px;
		padding-bottom:12px;
		@include deluxe_extrabold;
	}
	p {
		padding-bottom:30px;
	}
	p.paragraph_quote {
		padding-top:4px;
		padding-bottom: 0;
		margin-bottom:23px;
	}
	strong {
		font-size: 22px;
		display: block;
		line-height: 36px;
		//margin-bottom:-37px;
		&:before {
			content:"";
			margin: 19px 0 25px;
			display: block;
			width:128px;
			height:15px;
			background: $yellowdark;
		}
		@include nunito_extrabold;
	}
	ul {
		list-style: none;
		padding-bottom:30px;
		li {
			position: relative;
			padding-left:35px;
			margin-bottom: 9px;
			&:before {
				content:"";
				display: block;
				width:7px;
				height:7px;
				background: $yellowdark;
				border-radius: 50%;
				position: absolute;
				top:12px;
				left:0;
			}
		}
	}
	ol {
			list-style: none;
			counter-reset: item;
			padding-bottom:30px;
			> li {
				counter-increment: item;
				position: relative;
				padding-left:35px;
				line-height: 32px;
				margin-bottom: 6px;
	 		}
	 		> li:before {
	 				content: counter(item)".";
	 				color: $yellowdark;
	 				position: absolute;
	 				top:0;
	 				left:0;
	 				font-size: 18px;
	 				@include nunito_extrabold;
	 			}
		}
}



@media screen and (max-width: 1450px) {
	
	
	.content {
		font-size: 18px;
		line-height: 30px;
		strong {
			font-size: 20px;
			line-height: 34px;
			&:before {
				margin: 33px 0 18px;
				height:13px;
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1150px) {
	
	
	.content {
		font-size: 16px;
		line-height: 28px;
		strong {
			font-size: 18px;
			line-height: 32px;
			//margin-bottom: -33px;
			&:before {
				margin: 29px 0 18px;
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	
	
	
} /* Media Query */