

body.error404 {
	.single_col_container {
		padding-top:0;
		padding-bottom:0px;
	}
}

.not_found_wrapper {
	text-align: center;
	font-size: 20px;
	line-height:30px;
	max-width:740px;
	margin:0px auto 107px;
	padding:187px 0 0 0;
	@include nunito_reg;
	img {
		width: 220px;
		margin-bottom: 6px;
	}
	h1.not_found {
		text-transform: uppercase;
		font-size: 110px;
		line-height: 110px;
		display: block;
		@include deluxe_extrabold;
		span {
			display: inline-block;
			position: relative;
			z-index:1;
			&:after {
				content:"";
				height:22px;
				width:calc(100% + 32px);
				display: block;
				margin-left:-16px;
				background: $yellow;
				position: absolute;
				top:83px;
				z-index:-1;
			}
		}
	}
	span.page_not_found {
		display: block;
		text-transform: uppercase;
		font-size: 20px;
		margin-top:40px;
		margin-bottom:11px;
		@include nunito_extrabold;
	}
	a {
		color:$yellow;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: all 200ms ease-in-out;
		&:hover {
			border-bottom: 1px solid $yellow;
		}
	}
	span.go_back_button {
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 0.1em;
		color:$yellow;
		border:3px solid $yellow;
		border-radius: 45px;
		display: inline-block;
		margin-top:57px;
		padding:10px 27px;
		transition: all 200ms ease-in-out;
		cursor: pointer;
		@include deluxe_extrabold;
		&:hover {
			background: $yellow;
			color:$black;
		}
	}
}


@media screen and (max-width: 1660px) {
	
	
	.not_found_wrapper {
		padding:254px 0 0 0;
	}
	
	
} /* Media Query */

@media screen and (max-width: 1220px) {
	
	.not_found_wrapper {
		h1.not_found {
			font-size: 92px;
			span {
				background-size: 1px 101px;
			  background-position: 0 58px;
			}
		}
	}
	    
} /* Media Query */

@media screen and (max-width: 1190px) {
	
	
	body.error404 {
		.single_col_container {
			padding-top: 174px;
		}
	}

	
	
	.not_found_wrapper {
    padding: 85px 0 0 0;
    h1.not_found {
	    span {
		    &:after {
			    top: 79px;
		    }
	    }
	   }
	}
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	
	body.error404 {
		.single_col_container {
			padding-top: 106px;
		}
	}
	
	
	.not_found_wrapper {
    padding: 65px 0 0 0;
	}

	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	.not_found_wrapper {
		h1.not_found {
			font-size: 85px;
			padding: 0 10px;
			span {
				&:after {
					height:18px;
					top: 72px;
				}
			}
		}
	}
	
	
	
} /* Media Query */

@media screen and (max-width: 715px) {
	
	
	body.error404 {
		.single_col_container {
			padding-top: 121px;
		}
	}
	
	
	.not_found_wrapper {
		padding: 55px 0 0 0;
	}
	    
} /* Media Query */



@media screen and (max-width: 500px) {
	
	
		.not_found_wrapper {
			h1.not_found {
				font-size: 65px;
				padding:0;
				span {
					background-position: 0 73px;
					padding:0px 10px;
				}
			}
			img {
				width: 200px;
			}
		}
	
	   
	
	
} /* Media Query */