


.att_container {
	padding:125px 105px 0;
}


.att_bio_wrapper {
	display: flex;
	max-width: 1508px;
	margin:0 auto;
	justify-content: space-between;
}


h1.att_bio_header {
	font-size: 110px;
	line-height: 119px;
	letter-spacing: 0.07em;
	display: block;
	text-transform: uppercase;
	margin:135px 0 0;
	@include deluxe_extrabold;
	span {
		text-transform: uppercase;
		letter-spacing: 0.06em;
		display: inline-block;
		padding: 0 20px;
		background: url(#{$themePath}images/linebg.svg) repeat-x;
		background-position: 0 73px;
    background-size: 1px 50px;
	}
}


span.att_bio_position {
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 0.1em;
	margin-top:21px;
	display: block;
	margin-left:20px;
	@include nunito_extrabold;
}


.att_bio_intro {
	font-size: 22px;
	line-height: 34px;
	margin-top:56px;
	margin-bottom:48px;
	padding-left:10px;
	@include nunito_extrabold;
	p {
		margin-bottom:35px;
	}
}

.att_bio_content {
	padding-left:10px;
}

.att_bio_left {
	flex-basis:730px;
	flex-shrink:0;
}

.att_bio_right {
	margin-top:160px;
}

.att_image {
	img {
		max-width:100%;
		height:auto;
		display: block;
	}
	div {
		width:100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		img.att_badge {
			margin: -210px 50px 0 0;
		}
	}
}


.att_bio_slider_wrapper {
	max-width: 1515px;
	margin:200px auto 90px;
}


.att_bio_slide {
	height:164px;
	.att_bio_slide_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height:100%;
		.att_bio_slide_img_wrapper {
			width: 100%;
			margin: auto;
			img {
				max-width:100%;
				height:auto;
				margin:auto;
				display: block;
			}
		}
	}
}

.att_bio_bottom {
	background:#f1f0f0;
}

.att_bio_inner {
	max-width: 1290px;
	margin:0 auto;
	padding:170px 0 170px;
	display: flex;
	justify-content: space-between;
}

.att_bio_col {
	background: pink;
	flex-basis:40%;
	
}


.att_bio_list {
	&:last-of-type {
		ul {
			margin-bottom:0;
		}
	}
	span.att_bio_title {
		font-size: 22px;
		line-height: 26px;
		display: block;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		@include deluxe_heavy;
		span {
			text-transform: uppercase;
			letter-spacing: 0.06em;
			display: inline-block;
			padding: 0 13px;
			background: url(#{$themePath}images/linebg.svg) repeat-x;
			background-position: 0 13px;
			background-size: 1px 16px;
			padding-bottom:10px;
		}
	}
	ul {
		list-style: none;
		padding-left:13px;
		margin:5px 0 75px 0;
		li {
			font-size: 18px;
			line-height: 32px;
			@include nunito_reg;
		}
	}
}
	