

.video_center_wrapper {
	text-align: center;
	margin:145px auto -293px;
	max-width: 1505px;
}

span.video_cat_title {
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
	display: block;
	@include deluxe_extrabold;
	span {
		text-transform: uppercase;
		letter-spacing: 0.06em;
		display: inline-block;
		padding: 0 13px;
		background: url(#{$themePath}images/linebg.svg) repeat-x;
		background-position: 0 11px;
		background-size: 1px 50px;
	}
}


.video_wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:77px auto 150px;
	&:after {
		content:"";
		flex-basis:29%;
	}
}


	.single_video {
		flex-basis:29%;
		height:220px;
		margin-bottom:82px;
		position: relative;
		cursor: pointer;
		&:hover {
			.play_wrapper {
				.play_button {
					background: $blacklight;
					&:after {
						border-left: 22px solid $yellowdark;
					}
				}
			}
		}
		.mywistia {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
		.play_wrapper {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			display: flex;
			justify-content: center;
			align-items: center;
			pointer-events: none;
			.play_button {
				width:84px;
				height:84px;
				display: flex;
				justify-content: center;
				align-items: center;
				background:$yellowdark;
				border-radius: 50%;
				box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.71);
				transition: all 200ms ease-in-out;
				&:after {
					content:"";
					display: block;
					position: relative;
					top:0;
					left:4px;
					width: 0; 
					height: 0; 
					border-top: 16px solid transparent;
					border-bottom: 16px solid transparent;
					border-left: 22px solid $blacklight;
					transition: all 200ms ease-in-out;
				}
			}
		}
	}
	
	
@media screen and (max-width: 1330px) {
		

.video_center_wrapper {
	max-width: 1025px;
}
		
.video_wrapper {
	margin: 77px auto 100px;
	&:after {
		flex-basis:47%;
	}
}

.single_video {
	flex-basis:47%;
}

		
		
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.video_center_wrapper {
		 margin: 90px auto -130px;
	}
	
	.video_wrapper {
		margin: 77px auto 60px;
	}
	   
	
	
} /* Media Query */


@media screen and (max-width: 990px) {
	
	
	.video_center_wrapper {
    max-width: 635px;
	}
	
	.video_wrapper {
		display: block;
	}
	
	.single_video {
		height: 340px;
	}
	
	
	
	
} /* Media Query */

@media screen and (max-width: 767px) {
	
	
	.video_center_wrapper {
		margin: 60px auto -55px;
	}
	
	
	.single_video {
		margin-bottom: 45px;
	}
	
	span.video_cat_title {
		font-size: 31px;
		line-height: 34px;
		span {
			
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 600px) {
	
	
	
	.single_video {
    height: 250px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 500px) {
	
	
	.single_video {
    height: 200px;
	}
	
} /* Media Query */


@media screen and (max-width: 380px) {
	
	
	span.video_cat_title {
    span {
    	padding: 0 7px;
    }
   }
	
	
	
} /* Media Query */
	