


.pa_directory_wrapper {
	text-align: center;
	margin:110px auto 0;
	max-width:1507px;
	ul {
		list-style: none;
		li {
			text-transform: uppercase;
		}
	}
	ul.menu {
		> li {
				font-size: 32px;
				&:last-of-type {
					ul.sub-menu {
						&:last-of-type {
							margin-bottom:0;
						}
					}
				}
				@include deluxe_heavy;
				a {
					span {
						display: inline-block;
						position: relative;
						z-index:1;
						&:after {
							content:"";
							height:12px;
							width:calc(100% + 20px);
							display: block;
							margin-left:-10px;
							background: $yellow;
							position: absolute;
							top:22px;
							z-index:-1;
						}					
					}
				}
		}
	}
	ul.sub-menu {
		background: #f1f0f0;
		padding:74px 90px 100px;
		margin-top:60px;
		margin-bottom:140px;
		&:after {
			content:"";
			display: block;
			clear:both;
		}
		li {
			float:left;
			width:20%;
			text-align: left;
			font-size: 18px;
			letter-spacing: 0.06em;
			margin-right:6.5%;
			&:nth-of-type(4n + 4) {
				margin-right:0;
			}
			a {
				height:64px;
				color:$black;
				text-decoration: none;
				display: flex;
				align-items: center;
				border-bottom: 2px solid #c5c5c7;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$yellowdark;
				}
			}
		}
	}
}


@media screen and (max-width: 1515px) {
	
	
	
.pa_directory_wrapper {
	ul {
		
		li {
			
		}
	}
	ul.menu {
		> li {
				
				&:last-of-type {
					ul.sub-menu {
						&:last-of-type {
							
						}
					}
				}
				
				a {
					span {
						
					}
				}
		}
	}
	ul.sub-menu {
		padding: 65px 50px 80px;
		&:after {
		
		}
		li {
			width:30%;
			margin-right:5%;
			&:nth-of-type(4n + 4) {
				margin-right:5%;
			}
			&:nth-of-type(3n + 3) {
				margin-right:0%;
			}
			a {
				&:hover {
					
				}
			}
		}
	}
}

	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	body.page-template-template-padirectory {
		.single_col_container {
			padding-left:56px;
			padding-right:56px;
		}
	}
	
} /* Media Query */

@media screen and (max-width: 930px) {
	
	
.pa_directory_wrapper {
	ul {
		
		li {
			
		}
	}
	ul.menu {
		> li {
				
				&:last-of-type {
					ul.sub-menu {
						&:last-of-type {
							
						}
					}
				}
				
				a {
					span {
						
					}
				}
		}
	}
	ul.sub-menu {
		margin-bottom: 100px;
		&:after {
		
		}
		li {
			width:45%;
			margin-right:9.5%;
			&:nth-of-type(4n + 4) {
				margin-right:9.5%;
			}
			&:nth-of-type(3n + 3) {
				margin-right:9.5%;
			}
			&:nth-of-type(2n + 2) {
				margin-right:0%;
			}
			a {
				&:hover {
					
				}
			}
		}
	}
}

	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
.pa_directory_wrapper {
	max-width: 520px;
	margin: 70px auto 0;
	ul {
		
		li {
			
		}
	}
	ul.menu {
		> li {
				
				&:last-of-type {
					ul.sub-menu {
						&:last-of-type {
							
						}
					}
				}
				
				a {
					span {
						
					}
				}
		}
	}
	ul.sub-menu {
		margin-bottom: 70px;
		padding:35px 50px 70px;
		&:after {
		
		}
		li {
			width:100%;
			margin-right:0%;
			&:nth-of-type(4n + 4) {
				margin-right:0%;
			}
			&:nth-of-type(3n + 3) {
				margin-right:0%;
			}
			&:nth-of-type(2n + 2) {
				margin-right:0%;
			}
			a {
				&:hover {
					
				}
			}
		}
	}
}
	
	
	
body.page-template-template-padirectory {
		.single_col_container {
			padding-left:30px;
			padding-right:30px;
		}
	}


	
} /* Media Query */

