

body.blog {
	.inner_content {
    padding: 87px 121px 0 164px;
	}
}

.blog_feed {
	margin-top:0px;
}

.blog_post {
	padding-bottom:65px;
	margin-bottom:79px;
	border-bottom: 15px solid $yellowdark;
}

.date_meta {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.06em;
	color:$yellowdark;
	line-height: 20px;
	margin-bottom:11px;
	@include deluxe_extrabold;
	span {
		display: inline;
	}
	span.author {
		&:after {
			content:"i";
			display: inline;
			margin:0 8px 0 13px;
		}
	}
	span.date {
		&:after {
			content:"i";
			display: inline;
			margin:0 8px 0 13px;
		}
	}
	ul {
		display: inline;
		li {
			padding:0;
			display: inline;
			margin:0;
			&:before {
				display: none;
			}
			&:after {
				content:"i";
				display: inline;
				margin:0 8px 0 13px;
			}
			&:last-of-type {
				&:after {
					display: none;
				}
			}
			a {
				color:$yellowdark;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}


.sidebar_box.recent_posts_box, .sidebar_box.categories_box, .sidebar_box.archives_box {
	h3 {
		margin-bottom: 50px;
	}
	ul {
		li {
			a {
				font-size: 18px;
				line-height: 21px;
				padding: 12px 118px 12px 80px;
			}
		}
	}
}


a.read_more_button {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 0.1em;
	color:$black;
	border:3px solid $yellowdark;
	display: inline-block;
	border-radius: 45px;
	margin-top:27px;
	padding:9px 30px;
	background: transparent;
	transition: all 200ms ease-in-out;
	@include deluxe_extrabold;
	&:hover {
		background: $yellowdark;
	}
}

.paged_wrapper {
	text-align: right;
	margin-top: -34px;
	.navigation {
		ul {
			li {
				padding-left:0;
				display: inline-block;
				text-transform: uppercase;
				margin-left:25px;
				&:before {
					display: none;
				}
				a {
					color:$black;
					text-decoration: none;
					font-size: 18px;
					letter-spacing: 0.1em;
					transition: all 200ms ease-in-out;
					@include deluxe_heavy;
					&:hover {
						color:$yellow;
					}
				}
			}
			li.active {
				a {
					color:$yellowdark;
				}
			}
		}
	}
}


@media screen and (max-width: 1450px) {
	
	
	
	body.blog {
		.inner_content {
			padding-right:0;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1325px) {
	
	
	body.blog {
		.inner_content {
			padding-left:85px;
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1220px) {
	
	
	body.blog {
		.inner_content {
			padding-left:0px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1190px) {
	
	.paged_wrapper {
		 margin-bottom: -50px;
	}
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.blog_feed {
		margin-top:-9px;
	}

	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	.paged_wrapper {
		text-align: left;
		margin-bottom: -20px;
		.navigation {
			ul {
				li {
					margin-left: 0px;
		      margin-right: 25px;
				}
			}
		}
	}
	
	.blog_feed {
		margin-top:-11px;
	}
	
	.blog_post {
		margin-bottom: 50px;
		padding-bottom:50px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 615px) {
	
.sidebar_box.categories_box, .sidebar_box.archives_box {
	ul {
		li {
			a {
				padding: 21px 30px;
			}
		}
	}
}

	
	    
	
	
} /* Media Query */
