


.att_container {
	padding:125px 105px 0;
}


.att_bio_wrapper {
	display: flex;
	max-width: 1508px;
	margin:0 auto;
	justify-content: space-between;
}


h1.att_bio_header {
	font-size: 110px;
	line-height: 119px;
	letter-spacing: 0.07em;
	display: block;
	text-transform: uppercase;
	margin:135px 0 0;
	@include deluxe_extrabold;
	span {
		text-transform: uppercase;
		letter-spacing: 0.06em;
		display: inline-block;
		position: relative;
		z-index:1;
		&:after {
			content:"";
			height:22px;
			width:calc(100% + 32px);
			display: block;
			margin-left: -19px;
			background: $yellow;
			position: absolute;
			top:88px;
			z-index:-1;
		}
	}
}


span.att_bio_position {
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 0.1em;
	margin-top:21px;
	display: block;
	margin-left:20px;
	@include nunito_extrabold;
}


.att_bio_intro {
	font-size: 22px;
	line-height: 34px;
	margin-top:56px;
	margin-bottom:48px;
	padding-left:10px;
	@include nunito_extrabold;
	p {
		margin-bottom:35px;
	}
}

.att_bio_content {
	padding-left:10px;
}

.att_bio_left {
	flex-basis:730px;
	flex-shrink:0;
}

.att_bio_right {
	margin-top:160px;
	margin-left:65px;
}

.att_image {
	img {
		max-width:100%;
		height:auto;
		display: block;
	}
	.att_bio_badge {
		width:100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		img.att_badge {
			margin: -210px 50px 0 0;
		}
	}
}


.att_bio_slider_wrapper {
	max-width: 1515px;
	margin:200px auto 90px;
}


.att_bio_slide {
	height:164px;
	.att_bio_slide_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height:100%;
		.att_bio_slide_img_wrapper {
			width: 100%;
			margin: auto;
			img {
				max-width:100%;
				height:auto;
				margin:auto;
				display: block;
			}
		}
	}
}

.att_bio_bottom {
	background:#f1f0f0;
	padding:0 105px;
}

.att_bio_inner {
	max-width: 1290px;
	margin:0 auto;
	padding:170px 0 170px;
	display: flex;
	justify-content: space-between;
}

.att_bio_col {
	flex-basis:40%;
}


.att_bio_list {
	&:last-of-type {
		ul {
			margin-bottom:0;
		}
	}
	span.att_bio_title {
		font-size: 22px;
		line-height: 26px;
		display: block;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		@include deluxe_heavy;
		span {
			text-transform: uppercase;
			letter-spacing: 0.06em;
			display: inline-block;
			position: relative;
			z-index:1;
			margin-left:12px;
			&:after {
				content:"";
				height:15px;
				width:calc(100% + 20px);
				display: block;
				margin-left:-10px;
				background: $yellow;
				position: absolute;
				top: 16px;
				z-index:-1;
			}
		}
	}
	ul {
		list-style: none;
		padding-left:13px;
		margin:19px 0 75px 0;
		li {
			font-size: 18px;
			line-height: 32px;
			@include nunito_reg;
		}
	}
}


.att_bio_mobile {
	display: none;
}


@media screen and (max-width: 1660px) {
	
	
	.att_container {
		padding-top:181px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1500px) {
	
	
.att_image {
	img {
		
	}
	.att_bio_badge {
		align-items: center;
		img.att_badge {
			width:300px;
			margin-right:0;
		}
	}
}
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	h1.att_bio_header {
    font-size: 90px;
    line-height: 100px;
    span {
	  	&:after {
		  	height: 18px;
		  	top:74px;
	  	}
    }
  }
	
} /* Media Query */

@media screen and (max-width: 1400px) {
	
	.att_bio_wrapper {
		display: block;
	}
	
	.att_bio_left {
		
	}
	
	.att_bio_right {
		display: none;
	}
	
	
	.att_bio_mobile {
		display: block;
		max-width: 530px;
		margin:65px auto 0;
	}
	
	h1.att_bio_header {
		text-align: center;
		span {
			
		}
	}
	
	span.att_bio_position {
		text-align: center;
		margin-left:0;
	}
	
	
	.att_bio_slider_wrapper {
  	margin: 80px auto 90px;
  }
	
	
	.att_bio_inner {
		padding: 110px 0;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1330px) {
	
	
	h1.att_bio_header {
		font-size: 76px;
		line-height: 76px;
		margin: 95px 0 0;
		span {
			text-transform: uppercase;
			letter-spacing: 0.06em;
			display: inline-block;
			&:after {
				top: 58px;
			}
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1190px) {
	
	
	.att_container {
		padding-top:174px;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.att_container {
		padding-top:106px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 970px) {
	
	
	
	.att_bio_col {
    flex-basis: 45%;
	}
	
	
} /* Media Query */



@media screen and (max-width: 900px) {
	
	
	
	.att_bio_inner {
		display: block;
	}
	
	
	


.att_bio_col {
	&:first-of-type {
		.att_bio_list {
			&:last-of-type {
				ul {
					margin-bottom:75px;
				}
			}
		}
	}
}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	h1.att_bio_header {
		font-size: 56px;
		line-height: 56px;
		margin: 50px 0 0;
		span {
			&:after {
				top: 43px;
			}
		}
	}
	
	.att_bio_mobile {
		margin: 50px auto 0;
	}
	
	
	.att_container {
		padding:106px 30px 0;
	}
	
	
	.att_bio_bottom {
		padding:0 30px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 715px) {
	
	.att_container {
		padding:121px 30px 0;
	}
	
	
} /* Media Query */


@media screen and (max-width: 560px) {
	
	
	.att_image {
		.att_bio_badge {
			img.att_badge {
				width: 220px;
				margin: -137px 0px 0 0;
			}
		}
	}
	
	.att_bio_intro {
		font-size: 20px;
		line-height: 31px;
		margin-top: 40px;
	}
	
	.att_bio_slider_wrapper {
    margin: 0 auto 30px;
	}
	
	.att_bio_inner {
    padding: 70px 0;
	}
	
	span.att_bio_position {
  	font-size: 20px;
  }
	
	
	
} /* Media Query */
	