.contact_locations {
	margin:95px auto -50px;
	display: flex;
	max-width: 1455px;
	justify-content: space-between;
	.contact_single_location {
		position: relative;
		text-align: center;
		flex-basis: 316px;
/*
		&:nth-of-type(1) {
			order:2;
			svg {
				
				margin-top:-9px;
				width:61px;
				height:61px;
				
			}
		}
		&:nth-of-type(2) {
			order:1;
			svg {
				width:51px;
				height:51px;
				
			}
		}
		&:nth-of-type(3) {
			order:3;
			svg {
				width:54px;
				height:54px;
			}
		}
*/
		.contact_svg_wrapper {
			position: absolute;
			top:0;
			left:0;
			width:100%;
		}
		svg {
			position: static;
			margin:0 auto;
			display: none;
			path, circle {
				fill:$yellow;
			}
		}
		span {
			display: block;
		}
		span.contact_office_title {
			text-transform: uppercase;
			font-size: 32px;
			margin-top:75px;
			color:#000;
			@include deluxe_extrabold;
			&:after {
				content:"";
				display: block;
				width:79px;
				height:10px;
				background: $yellow;
				margin:29px auto 0;
			}
			span {
				display: inline-block;
				color:$yellow;
				margin-left:10px;
			}
		}
		span.contact_address {
			font-size: 20px;
			line-height:30px;
			margin-top:25px;
			color:#000;
			@include nunito_reg;
		}
		a.contact_phone {
			color:#000;
			display: inline-block;
			text-decoration: none;
			font-size: 22px;
			margin-top:24px;
			@include nunito_extrabold;
		}
		a.contact_map_button {
			width:105px;
			text-align: center;
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			border:3px solid $yellow;
			border-radius: 45px;
			font-size: 24px;
			letter-spacing: 0.1em;
			color:$yellow;
			margin:22px auto 0;
			padding:13px 0;
			transition: all 200ms ease-in-out;
			@include deluxe_extrabold;
			&:hover {
				background: $yellow;;
				color:$black;
			}
		}
		span.contact_appointment {
			text-transform: uppercase;
			font-size: 18px;
			letter-spacing: 0.06em;
			margin-top:35px;
			color:$yellow;
			@include deluxe_extrabold;
		}
	}
}


body.page-template-template-contact {
	footer {
		padding-top:1px;
	}
	.footer_inner {
		display: block;
		text-align: center;
		margin:120px auto 90px;
		max-width:1400px;
	}
	.footer_left {
		display: none;
	}
	span.footer_title {
		position: static;
		margin-left:auto;
		margin-right:auto;
	}
	.footer_right {
		max-width:100%;
		margin-top: 33px;
	}
	.form_wrapper {
		span.required {
			text-align: center;
		}
		.gform_wrapper {
			margin-top: 54px;
			ul {
				display: flex;
				flex-wrap:wrap;
				justify-content: space-between;
				li {
					flex-basis:49%;
				}
				li#field_1_6 {
					flex-basis:100%;
				}
			}
		}
		.gform_footer {
			justify-content: center;
		}
		input[type="submit"] {
			margin-top: 18px;
		}
	}
}


@media screen and (max-width: 1500px) {
	
	
	.contact_locations {
		flex-direction: column;
	}
	
	
	.contact_locations {
		.contact_single_location {
			margin-bottom: 75px;
			flex-basis: auto;
			&:last-of-type {
				margin-bottom: 0;
			}
			span.contact_office_title {
				margin-top:0;
			}
		}
	}
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	
	body.page-template-template-contact {
		.footer_inner {
			margin: 68px auto 90px;
		}
	}
	
	    
	
	
	
} /* Media Query */



@media screen and (max-width: 1150px) {
	
	
	body.page-template-template-contact {
		.footer_inner {
			margin: 0px auto 90px;
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1115px) {
	
	
	
/*
	.contact_locations {
		flex-direction: column;
		.contact_single_location {
			&:nth-of-type(1) {
				order:2;
				margin-bottom:95px;
			}
			&:nth-of-type(2) {
				order:1;
				margin-bottom:95px;
			}
			&:nth-of-type(3) {
				order:3;
				
			}
		}
	}
*/
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	.contact_locations {
		margin:108px auto 0px;
	}
	
	body.page-template-template-contact {
		.footer_right {
			margin-top: 19px;
		}
		.form_wrapper {
			.gform_wrapper {
				margin-top: 25px;
			}
		}
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {

	
	.contact_locations {
		margin:70px auto 30px;
		.contact_single_location {
			span.contact_office_title {
				font-size: 27px;
			}
		}
	}
	
	body.page-template-template-contact {
		.footer_inner {
			margin: 0px auto 50px;
		}
		.form_wrapper {
			.gform_wrapper {
				ul {
					display: block;
				}
			}
		}
	}
	
	
} /* Media Query */
