

.meet_the_team_wrapper {
	max-width: 1337px;
	margin:118px auto -85px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&:after {
		content:"";
		flex-basis:30%;
	}
}


.single_att {
	flex-basis:30%;
	text-align: center;
	margin-bottom:85px;
	&:hover {
		a {
			.att_img_wrapper {
				.att_overlay {
					opacity: 1;
				}
			}
		}
	}
	a {
		text-decoration: none;
		.att_img_wrapper {
			position: relative;
			img {
				max-width: 100%;
				height:auto;
				display: block;
			}
			.att_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background:rgba(0,0,0,0.66);
				display: flex;
				justify-content: center;
				align-items: center;
				opacity: 0;
				transition: all 300ms ease-in-out;
				&:after {
					content:"View Profile";
					text-transform: uppercase;
					color:$yellow;
					font-size: 30px;
					letter-spacing: 0.04em;
					@include deluxe_extrabold;
				}
			}
		}
		span {
			display: block;
		}
		span.single_att_title {
			text-transform: uppercase;
			font-size: 46px;
			line-height: 50px;
			color:$blacklight;
			margin-top:44px;
			@include deluxe_extrabold;
			span {
				text-transform: uppercase;
				letter-spacing: 0.06em;
				display: inline-block;
				position: relative;
				z-index:1;
				&:after {
					content:"";
					height:13px;
					width:calc(100% + 32px);
					display: block;
					margin-left:-18px;
					background: $yellow;
					position: absolute;
					top:35px;
					z-index:-1;
				}
			}
		}
		span.single_position {
			text-transform: uppercase;
			color:$blacklight;
			font-size: 17px;
			line-height: 24px;
			letter-spacing: 0.1em;
			margin-top:27px;
			@include nunito_extrabold;
		}
	}
}


@media screen and (max-width: 1190px) {
	
	
	
	
.meet_the_team_wrapper {
	&:after {
		flex-basis:47%;
	}
}


.single_att {
	flex-basis:47%;
}
	
	
	
} /* Media Query */


@media screen and (max-width: 875px) {
	
	
	.single_att {
		a {
			span.single_att_title {
				font-size: 42px;
				margin-top: 30px;
				span {
					&:after {
						top: 33px;
					}
				}
			}
		}
	}
	    
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.meet_the_team_wrapper {
		display: block;
		max-width:400px;
		margin-top:70px;
		margin-bottom:0;
	}
	
	.single_att {
		margin-bottom: 45px;
	}
	
	.single_att {
		a {
			span.single_position {
				margin-top: 11px;
			}
		}
	}
	
	
	    
	
	
} /* Media Query */